<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body> 
    <div ng-controller="myController" class="header">
        <a id="welcomeText">Welcome, <%= username %>
        </a>
        <div class="header-right">
        <a id="logoutLink" href="/logout">Logout</a>
        <a id="editLink" href="/user">Edit User</a>
        </div>
    </div>
    <div id="content">
        <p>Add new recipe:
    <hr>
    <form>
            
            <input type="submit" id="save" value="Save">
        </form>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    </div>
</body>
</html>